// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$primary-color-blue: #003865;
$primary-color-orange: #DC6B2F;
$secondary-color-blue: #ADBFCD;

html, body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/****** FONT ******/
h1 {
  font-size: 24px;
  color: $primary-color-blue;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

/****** INPUT FIELDS ******/
input[type=text],
input[type=password] {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  margin: 10px auto;
}

/****** BUTTON ******/
#primarybtn {
  background-color: $primary-color-blue;
  color: white;
  font: {
    size: 14px;
    weight: 500;
  }
  text-transform: uppercase;
  border-radius: 20px 20px;
  padding: 14px 35px;
  margin: 35px;
}

.thirdbtn {
  border-radius: 50%;
  background-color: $secondary-color-blue
}

/****** HEADER und FOOTER ******/
ion-header {
  background-color: $primary-color-blue;
}
ion-footer, .secondary-footer-class {
  background-color: $secondary-color-blue;
}
