.login-class {
  .form {
    	background: #FFFFFF;
    	margin: 30% 5%;
    	text-align: center;
  }

  h1 {
    margin-bottom: 10%;
  }

}

.logo-class {
  width: 90%;
  position: absolute;
  bottom: 0;
  height: 60px;

  img {
    width: 30%;
    float: right;
  }
}
