<div class="login-class">
	<div class="form">
  		<h1>Time tracker</h1>
    	<form class="register-form">
      		<input type="text" placeholder="username"/>
      		<input type="password" placeholder="password"/>
      		<!-- <p class="secondarymsg"><a href="#">Passwort vergessen?</a></p> -->
      		<button id="primarybtn">anmelden</button>
   		</form>
	</div>
  <button (click)="navigate()">redirect</button>
  <div class="logo-class">
    <img src="/assets/images/sdc-logo.jpg">
  </div>
</div>
