<ion-content class="login-form">
    <ion-title>Time Tracking</ion-title>
  <form #FormLogin="ngForm" (ngSubmit)="login(FormLogin)">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="FormLogin.username" name="userId" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="FormLogin.password" name="userPassword" type="password" required></ion-input>
    </ion-item>

    <button id="primarybtn" [disabled]="!FormLogin.form.valid" type="submit">Login</button>

  </form>
</ion-content>

<ion-footer class="secondary-footer">
  <img src="assets/images/sdc-logo.jpg">
</ion-footer>
