.login-form {
  text-align: center;
  ion-title {
    margin-bottom: 10%;
    margin-top: 40%;
  }
}

/****** LOGO ******/
.secondary-footer {
  position: absolute;
  bottom: 0;

  img {
    width: 30%;
    float: right;
    margin-right: 10%;
  }
}
